.page-container {
  margin: 20px;
}
.Container {
  padding: 20px;
}
span {
  font-weight: bold;
}

.VisitList {
  list-style: none;
  padding: 20px;
  background-color: #f2e4fd;
  border-radius: 10px;
  width: 70%;
  min-height: calc(100vh - 160px);
}
.VisitList li {
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  background-color: white;
  border-color: #a46ede;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.VisitItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.VisitDate {
  font-weight: bold;
}

.ViewButton {
  background-color: #a46ede;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.ViewButton:hover {
  background-color: #fff;
  color: #a46ede;
}

.VisitDetails {
  margin-top: 5px;
  padding-left: 20px;
  border-left: 2px solid #a46ede;
}

h2 {
  font-weight: bold;
  font-size: large;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .page-container {
    margin: 10px 2px; /* Add small margin on left and right */
  }

  .VisitList {
    width: calc(100% - 4px); /* Full width minus margins */
    padding: 10px;
    border-radius: 10px;
    min-height: auto; /* Adjust height for mobile */
  }

  .VisitList li {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .VisitItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .VisitDate {
    font-weight: bold;
    margin-bottom: 5px; /* Add margin for spacing */
  }

  .ViewButton {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .VisitDetails {
    margin-top: 10px;
    padding-left: 10px;
    border-left: 2px solid #a46ede;
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
  }
}
